.header{
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 140px;
    display: inline-block;
}

.nav-items > ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}
.nav-items > ul > li {
    margin-top: 25px;
    padding-right: 10px; 
}

.search{
    padding: 10px;
}
.res-card{
    padding: 5px;
    width: 200px;
    height: 400px;
    &:hover{
        cursor: pointer;
        border: 1px solid black;
    }
}
.res-logo{
    width: 100%;
}